{{ form_errors(form) }}

{{ form_row(form.title) }}

{%- if form.placementMethod %}
    {{ form_row(form.placementMethod) }}
    {{ form_row(form.refererNode) }}
{%- endif %}

{%- if form.pageType is defined %}
    <div id="soloist-node-pagetype" data-uri="{{ path('soloist_admin_block_get') }}">
        {{ form_row(form.pageType) }}
    </div>
{%- endif %}

{%- if form.pageType is defined %}
    <fieldset id="soloist-node-blocks">
        <legend>Contenu de la page</legend>
        {{ soloist_page_form(node.pageType, { form: form, node: node }) }}
    </fieldset>
{%- endif %}

{{ form_rest(form) }}

<script type="text/javascript">
    if (undefined == window.soloist)      window.soloist = {};
    if (undefined == window.soloist.core) window.soloist.core = {};
    window.soloist.core.retrieveActionsUrl = '{{ path('soloist_admin_actions_get') }}';
</script>
