<div class="thumbnail">
    <div class="thumbnail-subject">
        {% if block.path %}
            <img src="{{ block.path | apply_filter('soloist_admin_media') }}" />
        {% endif %}
    </div>
    <div class="caption">
        {{ form_widget(form.title) }}
        {{ form_widget(form.path) }}
        {{ form_widget(form.name) }}
        <a href="{{ path('soloist_admin_media_index') }}?nolayout" class="btn soloist-media-add">Choisir une image</a>
    </div>
</div>
